<!DOCTYPE html>

<body>



   <header class="header logo-top full-black-bg black-bg">
        <div class="header-top gray-bg">
            <div class="container">
                <div class="top-inner">
                    <a class="navbar-brand hidden-xs pull-left" href="./"><img src="static_files/img/contact/logo.png" alt="Logo"></a>
                    <div class="top-sitemap text-right">
                        <div class="top-info">
                            <span><i class="fa fa-phone"></i> Call us Now: (+61) 00854 3251</span>
                            <span><i class="fa fa-envelope"></i> <a href="#">Get a Free Quote</a></span>
                            <span><i class="fa fa-clock-o"></i> MON - FRI: 09:00 - 20:00</span>
                        </div><!-- /.top-info -->

                        <div class="has-dropdown">
                            <a href="#"><i class="fa fa-user"></i> Sign Up</a>
                            <div class="dropdown">
                                <form name="signup" id="signup" action="#" method="post">
                                    <div class="form-row form-row-wide">
                                        <input type="text" name="name" id="name" class="name" value="" placeholder="Full name*" required="">
                                    </div>
                                    <div class="form-row form-row-wide">
                                        <input type="email" name="email" id="email" class="email" value="" placeholder="Email*" required="">
                                    </div>
                                    <div class="form-row form-row-wide">
                                        <input type="password" name="pwd" id="user_pass" class="password" value="" placeholder="Password*">
                                    </div>
                                    <div class="form-row form-row-wide">
                                        <input type="password" name="pwd-2" id="user_pass-2" class="password" value="" placeholder="Confirm Password*">
                                    </div>
                                    <div class="form-row form-row-wide">
                                        <label for="terms">
                                            <input name="terms" type="checkbox" id="terms" class="terms"> I agree with <a href="#">terms &amp; condtions</a>
                                        </label>
                                    </div>

                                    <p class="form-row form-row-wide">
                                        <input type="submit" name="wp-submit" id="wp-submit" class="btn pull-left" value="Sign up">

                                        <span class="additional-method pull-right">
                                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="google" href="#"><i class="fa fa-google"></i></a>
                                        </span>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <span class="log-in">
                                            Have an account? <a href="#">Login</a>
                                        </span>
                                    </p>

                                </form>
                            </div><!-- /.dropdown -->
                        </div>

                        <div class="has-dropdown">
                            <a href="#"><i class="fa fa-lock"></i> Login</a>
                            <div class="dropdown">
                                <form name="login" id="login" action="#" method="post">
                                    <p class="form-row form-row-wide">
                                        <input type="text" name="name" class="name" value="" placeholder="Username/Email" required="">
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <input type="password" name="pwd" id="user_pass-3" class="password" value="" placeholder="Password">
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme"> Remember me </label>
                                        <input type="submit" class="btn" value="Sign In">
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <a href="#" class="forgot-psd">Forgot Password?</a>

                                        <span class="additional-method pull-right">
                                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="google" href="#"><i class="fa fa-google"></i></a>
                                        </span>
                                    </p>

                                    <p class="form-row form-row-wide">
                                        <span class="sign-up">
                                            Don't have account? <a href="#">Sign up</a>
                                        </span>
                                    </p>

                                </form>
                            </div><!-- /.dropdown -->
                        </div>
                    </div><!-- /.top-sitemap -->
                </div><!-- /.top-inner -->
            </div><!-- /.container -->
        </div><!-- /.header-top -->

        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header visible-xs">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="./"><img src="static_files/img/index/logo.png" alt="Logo"></a>
                    </div>

                    <div id="menu" class="main-menu navbar-collapse pull-left collapse" aria-expanded="false" style="height: 1px;">

                        <ul class="nav navbar-nav">

                            <li class="menu-item-has-children">
                                <a href="C:\Users\Abubakr\Desktop\FYP GUI\NEW DESIGN\index.html">Home</a>
                                <ul class="sub-menu children">
                                    <li><a href="C:\Users\Abubakr\Desktop\FYP GUI\NEW DESIGN\index.html">Home</a></li>
                                   
                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a href="C:\Users\Abubakr\Desktop\FYP GUI\NEW DESIGN\services.html">Services</A>
                                <ul class="sub-menu children">
                                    <li><a href="C:\Users\Abubakr\Desktop\FYP GUI\NEW DESIGN\services.html">Services</a></li>
                                    <li><a href="C:\Users\Abubakr\Desktop\FYP GUI\NEW DESIGN\service_details.html">Service Details</a></li>
                                </ul>
                            </li>

                           

                            

                            <!-- <li class="menu-item-has-children">
                                <a href="#">Projects</a>
                                <ul class="sub-menu children">
                                    <li><a href="shop.html">shop Page</a></li>
                                    <li><a href="shop-details.html">shop Details</a></li>
                                </ul>
                            </li> -->


                            


                             <li class="menu-item-has-children active">
                                <a href="C:\Users\Abubakr\Desktop\FYP GUI\NEW DESIGN\about.html">About Us</a>
                                <ul class="sub-menu children">
                                    <li><a href="C:\Users\Abubakr\Desktop\FYP GUI\NEW DESIGN\team.html">Team</a></li>
                                    <li><a href="C:\Users\Abubakr\Desktop\FYP GUI\NEW DESIGN\about.html">About us</a></li>
                                </ul>
                            </li>
							
							<li><a href="contact.html">Contact</a></li>
                               



                        </ul>

                        <div class="top-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </div>

                        <div class="search-box pull-right">
                            <span class="search-icon"><i class="ti-search"></i></span><!-- /.search-icon -->
                            <form class="search-form" method="get" action="#">
                                <input name="s" type="text" class="search-input" size="20" maxlength="20" placeholder="Search Here ...." required="">
                                <input type="submit" name="submit" class="search-submit">
                            </form><!-- /.search-form -->
                        </div>
                    </div><!-- /.navbar-collapse -->
                </nav><!-- /.navbar -->
            </div><!-- /.container -->
        </div><!-- /.header-bottom -->
    </header>




    <section class="page-name">
        <div class="section-padding">
            <div class="container">
                <div class="name-section background-bg" data-image-src="images/bg.jpg" style="background-image: url(&quot;images/bg.jpg&quot;);">
                    <div class="overlay">
                        <div class="padding">
                            <h2 class="page-title">Get in touch</h2><!-- /.page-ttile -->
                            <ol class="breadcrumb">
                                <li><a href="http://demos.jeweltheme.com/cast/contact.html#">Home</a></li>
                                <li class="active">Contact</li>
                            </ol>
                        </div><!-- /.padding -->
                    </div><!-- /.overlay -->
                </div><!-- /.name-section -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.page-name -->




    <section class="contact-details">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <div class="col-sm-8">
                        <div class="inner-bg">
                            <h2 class="section-title">Contact us</h2><!-- /.section-title -->
                            <div class="padding">

                                <form action="http://demos.jeweltheme.com/cast/email.php" method="post" class="wpcf7-form contact-form">
                                    <input type="text" id="name" name="name" value="" class="wpcf7-form-control" placeholder="Name (required)" required="">

                                    <input type="email" id="email" name="email" value="" class="wpcf7-form-control" placeholder="Email (required)" required="">

                                    <input type="text" id="suject" name="suject" value="" class="wpcf7-form-control" placeholder="Subject">

                                    <textarea id="message" name="message" class="wpcf7-form-control" placeholder="Message (required)" required=""></textarea>

                                    <input type="submit" id="submit" name="submit" class="wpcf7-form-control btn" value="Send Message">
                                    <div class="contact-message"></div>
                                    <div class="error-message"></div>
                                </form>
                                
                            </div><!-- /.padding -->
                        </div><!-- /.inner-bg -->
                    </div>

                    <div class="col-sm-4">
                        <div class="inner-bg">
                            <h2 class="section-title">Contact info</h2><!-- /.section-title -->
                            <div class="padding">
                                <div class="item media">
                                    <div class="item-icon media-left"><i class="ti-location-pin"></i></div><!-- /.item-icon -->
                                    <div class="item-details media-body">
                                        <h3 class="item-title">Address</h3><!-- /.item-title -->
                                        <span>
                                            121 King Street, Melbourne VIC 3000, Australia
                                        </span>
                                    </div><!-- /.item-details -->
                                </div><!-- /.item -->

                                <div class="item media">
                                    <div class="item-icon media-left"><i class="ti-mobile"></i></div><!-- /.item-icon -->
                                    <div class="item-details media-body">
                                        <h3 class="item-title">Phone</h3><!-- /.item-title -->
                                        <span>
                                            +61 3 8376 6284 (10 AM - 07 PM)
                                        </span>
                                        <span>
                                            +61 3 8376 6284 (10 AM - 07 PM)
                                        </span>
                                    </div><!-- /.item-details -->
                                </div><!-- /.item -->

                                <div class="item media">
                                    <div class="item-icon media-left"><i class="ti-email"></i></div><!-- /.item-icon -->
                                    <div class="item-details media-body">
                                        <h3 class="item-title">Email</h3><!-- /.item-title -->
                                        <span>
                                            <a href="http://demos.jeweltheme.com/cast/contact.html#">support@domain.com</a>
                                            <a href="http://demos.jeweltheme.com/cast/contact.html#">info@domain.com</a>
                                        </span>
                                    </div><!-- /.item-details -->
                                </div><!-- /.item -->
                            </div><!-- /.padding -->
                        </div><!-- /.inner-bg -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.contact-details -->




    <section id="google-map">
        <div class="section-padding">
            <div class="container">
                <div class="map-container">
                    <div id="googleMaps" class="google-map-container"></div>
                </div><!-- /.map-container -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /#google-map-->



    <section class="partners text-center">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <div class="item"><a href="http://demos.jeweltheme.com/cast/contact.html#"><img src="static_files/img/contact/5.png" alt="Partners Logo"></a></div><!-- /.item -->
                    <div class="item"><a href="http://demos.jeweltheme.com/cast/contact.html#"><img src="static_files/img/contact/6.png" alt="Partners Logo"></a></div><!-- /.item -->
                    <div class="item"><a href="http://demos.jeweltheme.com/cast/contact.html#"><img src="static_files/img/contact/7.png" alt="Partners Logo"></a></div><!-- /.item -->
                    <div class="item"><a href="http://demos.jeweltheme.com/cast/contact.html#"><img src="static_files/img/contact/8.png" alt="Partners Logo"></a></div><!-- /.item -->
                    <div class="item"><a href="http://demos.jeweltheme.com/cast/contact.html#"><img src="static_files/img/contact/9.png" alt="Partners Logo"></a></div><!-- /.item -->
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.partners -->




    <footer class="site-footer">
        <div class="footer-top">
            <div class="section-padding">
                <div class="container">
                    <div class="inner-bg">
                        <div class="padding">
                            <div class="col-sm-3">
                                <div class="widget widget_contacts">
                                    <h3 class="widget-title">Contacts</h3><!-- /.widget-title -->
                                    <div class="widget-details">
                                        <address>
                                            <span>
                                                <i class="fa fa-map-marker"></i>
                                                <span>
                                                    121 King Street, Melbourne VIC 3000, Australia
                                                </span>
                                            </span>
                                            <span>
                                                <i class="fa fa-envelope-square"></i>
                                                <span>
                                                    +61 3 8376 6284
                                                </span>
                                            </span>
                                            <span>
                                                <i class="fa fa-phone-square"></i>
                                                <span>
                                                    <a href="http://demos.jeweltheme.com/cast/contact.html#">contact@cast.com</a>
                                                </span>
                                            </span>
                                        </address>
                                    </div><!-- /.widget-details -->
                                </div><!-- /.widget -->
                            </div>

                            <div class="col-sm-3">
                                <div class="widget widget_info">
                                    <h3 class="widget-title">Company Info</h3><!-- /.widget-title -->
                                    <div class="widget-details">
                                        <a href="http://demos.jeweltheme.com/cast/contact.html#"><i class="ti-arrow-right"></i>About</a>
                                        <a href="http://demos.jeweltheme.com/cast/contact.html#"><i class="ti-arrow-right"></i>Services</a>
                                        <a href="http://demos.jeweltheme.com/cast/contact.html#"><i class="ti-arrow-right"></i>Projects</a>
                                        <a href="http://demos.jeweltheme.com/cast/contact.html#"><i class="ti-arrow-right"></i>News</a>
                                        <a href="http://demos.jeweltheme.com/cast/contact.html#"><i class="ti-arrow-right"></i>Shop</a>
                                        <a href="http://demos.jeweltheme.com/cast/contact.html#"><i class="ti-arrow-right"></i>Privacy</a>
                                        <a href="http://demos.jeweltheme.com/cast/contact.html#"><i class="ti-arrow-right"></i>Sitemap</a>
                                        <a href="http://demos.jeweltheme.com/cast/contact.html#"><i class="ti-arrow-right"></i>Partners</a>
                                    </div><!-- /.widget-details -->
                                </div><!-- /.widget -->
                            </div>

                            <div class="col-sm-3">
                                <div class="widget widget_office_hours">
                                    <h3 class="widget-title">Office Hours</h3><!-- /.widget-title -->
                                    <div class="widget-details">
                                        <p>
                                            Support Hotline is available 24 Hours a day, seven days a week.
                                        </p>
                                        <div class="time">
                                            <span><span class="meta-id">Monday - Friday:</span> 10:00am to 08:00pm</span>
                                            <span><span class="meta-id">Weekend:</span> 12:00am to 07:00pm</span>
                                        </div>
                                    </div><!-- /.widget-details -->
                                </div><!-- /.widget -->
                            </div>

                            <div class="col-sm-3">
                                <div class="widget widget_subscribe">
                                    <h3 class="widget-title">Newsletter</h3><!-- /.widget-title -->
                                    <div class="widget-details">
                                        <p>
                                            We never disclose any email address or any personal data to anyone.
                                        </p>
                                        <form class="mc4wp-form" method="post">
                                            <div class="mc4wp-form-fields"> 
                                                <input class="form-control" type="email" name="EMAIL" placeholder="Enter email &amp; subscribe .." required="">
                                                <input type="submit" class="form-control" name="submit">
                                            </div>
                                            <div class="mc4wp-response"></div>
                                        </form>
                                    </div><!-- /.widget-details -->
                                </div><!-- /.widget -->
                            </div>
                        </div><!-- /.padding -->
                    </div><!-- /.inner-bg -->
                </div><!-- /.container -->
            </div><!-- /.section-padding -->
        </div><!-- /.footer-top -->

        <div class="footer-bottom">
            <div class="container">
                <div class="copyright text-left">
                    <div class="padding">
                        © <a href="http://demos.jeweltheme.com/cast/demos.jeweltheme.com/cast">Cast</a> 2017 | Develpoed With Love by <a href="https://jeweltheme.com/">Jewel Theme</a>
                        <span class="pull-right">Designed by <a href="http://demos.jeweltheme.com/cast/contact.html#">bigpsfan</a></span>
                    </div><!-- /.padding -->
                </div><!-- /.copyright -->
            </div><!-- /.container -->
        </div><!-- /.footer-bottom -->
    </footer><!-- /.footer-bottom -->


    <script src="static_files/js/plugins.js.download"></script>
    <script src="static_files/js/main.js.download"></script>
    <script src="static_files/js/gmap3.min.js.download"></script>
    <script src="static_files/js/js"></script>

    <script type="text/javascript">

        jQuery(document).ready(function($) {

            "use strict";

            /*----------- Google Map - with support of gmaps.js ----------------*/
            function isMobile() {
                return ('ontouchstart' in document.documentElement);
            }

            function init_gmap() {
                if ( typeof google == 'undefined' ) return;
                var options = {
                    center: {lat: -37.834812, lng: 144.963055},
                    zoom: 15,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },
                    navigationControl: true,
                    scrollwheel: false,
                    streetViewControl: true,
                    styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#cdcdcd"},{"visibility":"on"}]}]
                }

                if (isMobile()) {
                    options.draggable = false;
                }

                $('#googleMaps').gmap3({
                    map: {
                        options: options
                    },
                    marker: {
                        latLng: [-37.834812, 144.963055],
                        options: { icon: 'images/map-icon.png' }
                    }
                });
            }

            init_gmap();

        });

    </script>





</body></html>